.carousel {
	height: 800px;
	max-height: 80vh;
}

.carousel .item {
	height: 800px;
	max-height: 80vh;
	background: rgba(203, 146, 134, 0.1);
}
.carousel-inner > .item > img {
	min-width: 100%;
	min-height: 100%;
	opacity: 0.8;
}

.carousel-over {
	z-index: 10;
	width: 100%;
	text-align: center;
}

.carousel-over-inner {
	position: absolute;
	width: 100%;
	top: 60%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	color: #fff;
}

.carousel-over h1 {
	font-size: 400%;
}
.carousel-over p {
	font-size: 300%;
}