/* Globals
-------------------------------------------------- */

$sm: 768;
$sm_px: $sm + "px";
$md: 992;
$md_px: $md + "px";
$lg: 1200;
$lg_px: $lg + "px";
$xl: 1920;
$xl_px: $xl + "px";

@mixin bp($point){
	@if $point == sm {
		@media (min-width: $sm_px) { @content; }
	}
	@else if $point == md {
		@media (min-width: $md_px) { @content; }
	}
	@else if $point == lg {
		@media (min-width: $lg_px) { @content; }
	}
}

$img_prefix: "../img/";


/* Sticky footer styles
-------------------------------------------------- */

$footer-height: 60px;

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto (-$footer-height);
  padding: 0 0 $footer-height;
}

#footer {
  height: $footer-height;
}


/* Hellip
-------------------------------------------------- */
.animate-hellip {
	position: absolute;
}


/* Dark styles
-------------------------------------------------- */


body.dark {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center 0;
	background-color: #333;
	background-image: url($img_prefix + "background" + $sm + ".png");
	@include bp(sm){
		background-image : url($img_prefix + "background" + $md + ".png")
	}
	@include bp(md){
		background-image : url($img_prefix + "background" + $lg + ".png")
	}
	@include bp(lg){
		background-image : url($img_prefix + "background" + $xl + ".png")
	}
}

$white: #eee;

.dark {
	h1, h2, h3, h4, p, span{
		color: $white;
	}
}
