/* Globals
-------------------------------------------------- */

$sm: 768;
$sm_px: $sm + "px";
$md: 992;
$md_px: $md + "px";
$lg: 1200;
$lg_px: $lg + "px";
$xl: 1920;
$xl_px: $xl + "px";

@mixin bp($point){
	@if $point == sm {
		@media (min-width: $sm_px) { @content; }
	}
	@else if $point == md {
		@media (min-width: $md_px) { @content; }
	}
	@else if $point == lg {
		@media (min-width: $lg_px) { @content; }
	}
}

$img_prefix: "../img/";


/* Sticky footer styles
-------------------------------------------------- */

$footer-height: 60px;

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto (-$footer-height);
  padding: 0 0 $footer-height;
}

#footer {
  height: $footer-height;
}


/* Hellip
-------------------------------------------------- */

.animate-hellip {
	position: absolute;
}


/* Dark styles
-------------------------------------------------- */

body.dark {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center 0;
	background-color: #333;
	background-image: url($img_prefix + "background" + $sm + ".png");
	@include bp(sm){
		background-image : url($img_prefix + "background" + $md + ".png")
	}
	@include bp(md){
		background-image : url($img_prefix + "background" + $lg + ".png")
	}
	@include bp(lg){
		background-image : url($img_prefix + "background" + $xl + ".png")
	}
}
body.baby {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center 0;
	background-color: #333;
	background-image: url($img_prefix + "babygirl" + $sm + ".jpg");
	@include bp(sm){
		background-image : url($img_prefix + "babygirl" + $md + ".jpg")
	}
	@include bp(md){
		background-image : url($img_prefix + "babygirl" + $lg + ".jpg")
	}
	@include bp(lg){
		background-image : url($img_prefix + "babygirl" + $xl + ".jpg")
	}
}


$white: #eee;

.dark {
	h1, h2, h3, h4, p, span, label, li{
		color: $white;
	}
}


/* Helper Classes
-------------------------------------------------- */

.full {
	width: 100%;
}
canvas.quarter {
	width: 75%;
	height: auto;
	margin: 0 auto;
}


/* Additional Button Colours
-------------------------------------------------- */

.btn-pink { 
  color: #ffffff; 
  background-color: #E45E9D; 
  border-color: #D04A89; 
} 
 
.btn-pink:hover, 
.btn-pink:focus, 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  color: #ffffff; 
  background-color: #BC3675; 
  border-color: #D04A89; 
} 
 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  background-image: none; 
} 
 
.btn-pink.disabled, 
.btn-pink[disabled], 
fieldset[disabled] .btn-pink, 
.btn-pink.disabled:hover, 
.btn-pink[disabled]:hover, 
fieldset[disabled] .btn-pink:hover, 
.btn-pink.disabled:focus, 
.btn-pink[disabled]:focus, 
fieldset[disabled] .btn-pink:focus, 
.btn-pink.disabled:active, 
.btn-pink[disabled]:active, 
fieldset[disabled] .btn-pink:active, 
.btn-pink.disabled.active, 
.btn-pink[disabled].active, 
fieldset[disabled] .btn-pink.active { 
  background-color: #E45E9D; 
  border-color: #D04A89; 
} 
 
.btn-pink .badge { 
  color: #E45E9D; 
  background-color: #ffffff; 
}